[flake8]
inline-quotes = "
multiline-quotes = """
docstring-quotes = """
max-line-length = 79
exclude =
    venv,
    __pycache__,
    .local,
    site-packages,
    static,
    media,
    *.egg-info,
    .git,
    .tox,
    */migrations/*,
    alembic/*,
    tests,
ignore =
    E203,
    W503,
    B008,
per-file-ignores =
    __init__.py:F401
